In [11]:
from datarail.experimental_design import merge_data_metadata as mdm
import pandas as pd
import gr50

Load columbus output, metadata and plate info files. Ensure that column heading are as shown in the below example input files

In [21]:
dfo = pd.read_table('columbus_output.tsv')
dfo.head()

,barcode,date,Row,Column,well,cell_count__total,corpse_count,cell_count__dead,cell_count
0,MH1_01,2016-06-06 12:34:56,3,3,C03,511.0,32.0,12.0,499.0
1,MH1_01,2016-06-06 12:34:56,3,4,C04,511.0,30.0,12.0,499.0
2,MH1_01,2016-06-06 12:34:56,3,5,C05,526.0,32.0,12.0,514.0
3,MH1_01,2016-06-06 12:34:56,3,6,C06,494.0,38.0,15.0,479.0
4,MH1_01,2016-06-06 12:34:56,3,7,C07,507.0,29.0,13.0,494.0

In [22]:
dfm = pd.read_csv('metadata.csv')
dfm.head()

  agent  concentration       role well    plate
0   D_8       0.010000  treatment  C03  schema1
1   D_3      10.000000  treatment  C04  schema1
2   D_6       0.031623  treatment  C05  schema1
3   D_2       0.003162  treatment  C06  schema1
4   D_8       3.162278  treatment  C07  schema1

In [23]:
dfp = pd.read_csv('plate_info.csv')
dfp.head()
dfp.plate.unique()

array(['time0_Ctrl', 'schema1', 'schema2', 'schema3'], dtype=object)

Merge data and plate level metadata file into a single dataframe

In [24]:
dfcp = mdm.merge_plate_level_metadata(dfo, dfp)

Merge well level metadata file

In [26]:
dfcw = mdm.merge_well_level_metadata(dfcp, dfm)
dfcw.head()

,barcode,date,Row,Column,well,cell_count__total,corpse_count,cell_count__dead,cell_count,cell_line,timepoint,plate,agent,concentration,role,well
time0_Ctrl_C03,MH1_01,2016-06-06 12:34:56,3.0,3.0,C03,511.0,32.0,12.0,499.0,CL_1,0.0,time0_Ctrl,NaN,NaN,NaN,NaN
time0_Ctrl_C04,MH1_01,2016-06-06 12:34:56,3.0,4.0,C04,511.0,30.0,12.0,499.0,CL_1,0.0,time0_Ctrl,NaN,NaN,NaN,NaN
time0_Ctrl_C05,MH1_01,2016-06-06 12:34:56,3.0,5.0,C05,526.0,32.0,12.0,514.0,CL_1,0.0,time0_Ctrl,NaN,NaN,NaN,NaN
time0_Ctrl_C06,MH1_01,2016-06-06 12:34:56,3.0,6.0,C06,494.0,38.0,15.0,479.0,CL_1,0.0,time0_Ctrl,NaN,NaN,NaN,NaN
time0_Ctrl_C07,MH1_01,2016-06-06 12:34:56,3.0,7.0,C07,507.0,29.0,13.0,494.0,CL_1,0.0,time0_Ctrl,NaN,NaN,NaN,NaN

Generate counts file in the format required by the GR calculator

In [27]:
df_counts = mdm.generate_GRinput(dfcw)

Compute GRvalue

In [28]:
df_grv = gr50.compute_gr(df_counts)

Compute summary GR metrics

In [29]:
df_grmetrics = gr50.gr_metrics(df_grv)